extends app.pug
block card
  section(class=`flashcards`)
    .card(class=`card-${side}`)
      .card-header
      h1.card-title= side
      #content
        h2= text
        if hint 
          p.hint
            i= hint
      .card-next-wrap
        a.card-next-anchor(href=`/cards`)
          img.card-next(src=`/static/img/next.svg`)
      .card-nav
        .card-flip-wrap
          a.card-flip-anchor(href=`${id}?side=${sideToShow}`)
            img.card-flip(src=`/static/img/flip.svg`)
    script(src=`/static/js/app.js`)
